@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;600;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(31 41 55);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #df0914;
  border-radius: 10px;
}
